In [5]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
# Corrected file path to match the Resources folder
wine = pd.read_csv('Resources/winequality-red.csv', index_col=0)

# Display sample data
wine.head(10)

,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
fixed acidity,,,,,,,,,,,
7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [7]:
df = wine.drop('quality', axis='columns').columns.tolist()
print(df)

['volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol']

In [13]:
total = pd.DataFrame()
total['dtype'] = wine.dtypes
total['unique'] = wine.nunique(axis=0)
total['missing'] = wine.isnull().sum()
total['mean'] = wine.mean()
total['std'] = wine.std()
total

                        dtype  unique  missing       mean        std
volatile acidity      float64     143        0   0.527821   0.179060
citric acid           float64      80        0   0.270976   0.194801
residual sugar        float64      91        0   2.538806   1.409928
chlorides             float64     153        0   0.087467   0.047065
free sulfur dioxide   float64      60        0  15.874922  10.460157
total sulfur dioxide  float64     144        0  46.467792  32.895324
density               float64     436        0   0.996747   0.001887
pH                    float64      89        0   3.311113   0.154386
sulphates             float64      96        0   0.658149   0.169507
alcohol               float64      65        0  10.422983   1.065668
quality                 int64       6        0   5.636023   0.807569

In [10]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1599 entries, 7.4 to 6.0
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   volatile acidity      1599 non-null   float64
 1   citric acid           1599 non-null   float64
 2   residual sugar        1599 non-null   float64
 3   chlorides             1599 non-null   float64
 4   free sulfur dioxide   1599 non-null   float64
 5   total sulfur dioxide  1599 non-null   float64
 6   density               1599 non-null   float64
 7   pH                    1599 non-null   float64
 8   sulphates             1599 non-null   float64
 9   alcohol               1599 non-null   float64
 10  quality               1599 non-null   int64
dtypes: float64(10), int64(1)
memory usage: 149.9 KB

In [11]:
wine.isnull().any()

volatile acidity        False
citric acid             False
residual sugar          False
chlorides               False
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
dtype: bool

In [ ]:
wine.describe()

In [ ]:
fig , axs = plt.subplots(4,3 , figsize=(25 , 16))

for f , ax in zip(wine.columns , axs.ravel()):
    sns.histplot(data=wine , x=f , ax=ax )
plt.show()

In [ ]:
palette = sns.color_palette('plasma')


fig , axs = plt.subplots(3,4 , figsize=(20,16))

for f , ax in zip(wine.columns , axs.ravel()):
    sns.boxplot(data = wine , x='quality' , y=f , ax=ax , palette=palette)
plt.suptitle('The Realationshios Between Features and Target' , y=1.03 , size=20)
plt.tight_layout()